/* Div, bokse, elementer */

/* include_header start*/
.nav_li_p {
  font-size: 1.3em;
}

#header_row {
  width: 100%;
  z-index: 1;
}

#header_row_index {
  width: 100%;
  z-index: 1;
  background-color: #e9ecef;
}

#nav_box {
    margin-left: 12em;
    margin-top: 0.2em;
}

#cta_header{
  display: none;
}
/* include_header slut */

/* style af index.php */
.jumbotron {
width: 100%;
padding-top: 25em;
}


#hero_img {
  background-image: url("feather.png");
  background-position: center;
  background-repeat: no-repeat;
background-size: cover;
  position: relative;
}

#hero_text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.index_button {
  background: $mycolor;
  color: black;
  padding: 0.7em;
  text-align: center;
}

#portfolio-section {
    height: auto;
    width: 100%;
    padding: 50px 0 105px 0;
}

.portfolio-section-header {
    height: 100px;
    width: 960px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.portfolio-section-header h1 {
    font-size: 4em;
    color: $mycolor;
}

.porfolio-section-text {
    height: auto;
    width: 960px;
    margin: 0 auto;
}

.porfolio-section-text p {
    font-size: 1.8em;
    line-height: 1.8em;
}

.portfolio-section-filter {
    height: 100px;
    width: 960px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.portfolio-section-filter a {
    margin-right: 10px;
    color: black;
    text-decoration: none;
    font-size: 1.8em;
    font-weight: 400;
    transition: all .2s;
}

.portfolio-section-filter a:hover {
    color: $mycolor;
}

.portfolio-section-filter a.current {
    color: $mycolor;
}

// container for opgaver
.portfolio-section-image-container {
    width: 960px;
    margin: 0 auto;
    height: 510px;
}

.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

.isotope,
.isotope .isotope-item {
    /* change duration value to whatever you like */

    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}

.test-project {
    height: 250px;
    width: 182px;
    background-color: $mycolor;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.test-project h1 {
    color: white;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

.test-project .fas {
    font-size: 100px;
    color: white;
    margin-top: -70px;
}
/* style af index.php slut*/

/* style af cv.php */
#cv_overskrift {
  padding-top: 2em;
}

#cv_tekst {
  margin-top: 3em;
  margin-left: 2em;
  margin-right: 2em;
}

#cv_billede {
  margin-top: 3em;
  background-image: url("feather.png");
  background-position: center;
  background-repeat: no-repeat;
background-size: cover;
  position: relative;
}

/* style af cv.php slut*/

/* style af kontakt.php */
#kontakt_overskrift {
  padding-top: 2em;
}

#kontakt_tekst {
  margin-top: 3em;
  margin-left: 2em;
  margin-right: 2em;
}

#kontakt_billede {
  margin-top: 3em;
  background-image: url("feather.png");
  background-position: center;
  background-repeat: no-repeat;
background-size: cover;
  position: relative;
}
/* style af kontakt.php slut*/

 /* footer */
footer {
  padding: 10px;
margin-top: 2em;
  width: 100%;
  background: $mycolor;
}

.fa {
  padding: 12px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
    &:hover {
        opacity: 0.7;
    }
}

.fa-facebook {
    background: white;
    color: black;
}
.fa-linkedin {
  background: white;
  color: black;
}
/* footer slut */
