/* Media query size computer */
@media only screen and (min-width: 1024px) and (max-width: 1800px) {


  #logo_box {
    margin-top: 1em;
    margin-left: 5em;

  }

  #nav_box {
      margin-left: 24em;
      margin-top: 2em;
  }

#cta_header-box {
  margin-right: 2em;
}

  #cta_header {
    background: $mycolor;
    margin-top: 2em;
    color: black;
    padding: 10px;
    text-align: center;
    display: flex;
      justify-content: center;
}
}

/* Media query size big screen */
@media screen and (min-width: 1440px) {
  #all_side_box {
    max-width: 1440px;
  }
}
