/* Styling af basale elementer  og variabler */
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Dosis', helvetica, sans-serif; }

p {
  font-weight: 100; }

a {
  text-decoration: none; }

/* style af index.php */
#hero_img {
  background-image: url("img/trinehjortshoej_profil2.jpg");
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  padding-top: 25em; }

#hero_text {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white; }

.index_button {
  background: #B7E2E0;
  color: black;
  padding: 0.7em;
  text-align: center; }

.fa-angle-double-down {
  margin-left: 3px;
  font-size: 0.9em; }

#portfolio-section {
  height: auto;
  width: 100%;
  padding: 50px 0 105px 0; }

.portfolio-section-filter {
  height: 100px;
  width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.portfolio-section-filter a {
  margin-right: 10px;
  color: black;
  text-decoration: none;
  font-size: 1.8em;
  font-weight: 400;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s; }
  .portfolio-section-filter a:hover {
    color: #B7E2E0; }
  .portfolio-section-filter a.current {
    color: #B7E2E0; }

.portfolio-section-image-container {
  width: 960px;
  margin: 0 auto;
  height: 530px; }

.isotope-item {
  z-index: 2; }

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1; }

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s; }

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width; }

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform; }

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 169px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 15px; }

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  -o-transition: transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); }

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #B7E2E0;
  color: black;
  border-radius: 15px; }

/* Style the back side */
.flip-card-back {
  background-color: white;
  color: black;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.isotope_card {
  border-radius: 15px; }

/* style af index.php slut*/
/* style af cv.php */
#cv_overskrift {
  padding-top: 2em; }

#cv_tekst {
  margin-top: 3em;
  margin-left: 2em;
  margin-right: 2em; }

#cv_billede {
  margin-top: 3em;
  width: 80vh;
  height: 50vh;
  background-image: url("img/trinehjortshoej_profil1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  border-radius: 15px;
  -webkit-box-shadow: 4px 4px 5px 2px #ccc;
  box-shadow: 4px 4px 5px 2px #ccc; }

/* style af cv.php slut*/
/* style af kontakt.php */
#kontakt_overskrift {
  padding-top: 2em; }

#kontakt_tekst {
  margin-top: 3em;
  margin-left: 2em;
  margin-right: 3em; }

#kontakt_billede {
  margin-top: 3em;
  width: 80vh;
  height: 60vh;
  background-image: url("img/trinehjortshoej_profil4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  border-radius: 15px;
  -webkit-box-shadow: 4px 4px 5px 2px #ccc;
  box-shadow: 4px 4px 5px 2px #ccc; }

#send_knap {
  background-color: #B7E2E0; }

/* style af kontakt.php slut*/
/* Div, bokse, elementer */
/* include_navbar start*/
.nav_li_p {
  font-size: 1.3em; }

#header_row {
  width: 100%;
  z-index: 1; }

#header_row_index {
  width: 100%;
  z-index: 1;
  background-color: #e9ecef; }

#nav_box {
  margin-left: 12em;
  margin-top: 0.2em; }

#cta_header {
  display: none; }

/* include_navbar slut */
/* include_footer */
footer {
  padding: 10px;
  margin-top: 2em;
  width: 100%;
  background: #B7E2E0; }

.fa {
  padding: 12px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%; }
  .fa:hover {
    opacity: 0.7; }

.fab {
  margin-left: 9px;
  margin-right: 9px;
  margin-top: -7px; }

.fa-facebook-f {
  background: none;
  color: black; }

.fa-linkedin {
  background: none;
  color: black; }

.fa-github {
  background: none;
  color: black; }

/* include_footer slut */
/* Media query size tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #nav_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  #cta_header {
    background: #B7E2E0;
    margin-top: 2em;
    color: black;
    padding: 10px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

/* Media query size computer */
@media only screen and (min-width: 1024px) and (max-width: 1800px) {
  #logo_box {
    margin-top: 1em;
    margin-left: 5em; }
  #nav_box {
    margin-left: 24em;
    margin-top: 2em; }
  #cta_header {
    background: #B7E2E0;
    margin-top: 2em;
    color: black;
    padding: 10px;
    width: 180px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-shadow: 4px 4px 5px 2px #ccc;
    box-shadow: 4px 4px 5px 2px #ccc; } }

/* Media query size big screen */
@media screen and (min-width: 1440px) {
  #all_side_box {
    max-width: 1440px; } }
